body {
    background-color: #f4f4f4;
    font-family: 'Roboto', sans-serif;
}

.register-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.form-container {
    margin: 30px auto;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 500px;
    max-width: 90%;
}

.form-group {
    margin-bottom: 30px;
}

.form-label {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #404040;
}

.form-control {
    border: none;
    border-radius: 5px;
    padding: 12px;
    font-size: 18px;
    background-color: #f4f4f4;
    color: #404040;
    box-shadow: inset 0 0 0 1px #ccc;
}

.form-control:focus {
    outline: none;
    box-shadow: inset 0 0 0 1px #007bff;
}

.sign-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 12px 24px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sign-button:hover {
    background-color: #0056b3;
}
